<div class="wrap">
  <h1 class="titles">Love Letter</h1>

  <div class="inputs">
    <!-- <p class = "push">Dear </p><input type = "text" id = "recipient" name = "recipient_name" placeholder = "name of recipient" class = "push"><p></p> -->
    <div class="forms" *ngIf="isform">
      <h1 class="formTitle">Fill The Form</h1>
      <!-- <div class="alert" > 
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
      </div> -->
 
      <table class="formInput">
        <tr>
          <td><strong>Name</strong></td>
          <td><input class="name" type="text" id="name" required /></td>
        </tr>
        <tr>
          <td><strong>Year</strong></td>
          <td><input class="name" type="text" id="year" required /></td>
        </tr>
        <tr>
          <td><strong>Favorite Colour</strong></td>
          <td><input class="name" type="text" id="favColour" required /></td>
        </tr>
        <tr>
          <td><strong>Love About Him/Her </strong></td>
          <td>
            <input class="name" type="textarea" id="loveabout" required />
          </td>
        </tr>
      </table>
    
      <label id="errors" style="font-size: small; margin-left: 200px; color: red;"></label>
      <br>
      <button class="genBtn" (click)="toggleShow()" type="button">
        <strong>Generate</strong>
      </button>
      <button class="clrBtn" (click)="clear()" type="button">
        <strong>Clear</strong>
      </button>
  
    </div>
  


    <ng-container *ngIf="isShown" class="container">
      <button class="reset" (click)="return()">reset</button>
      <div class="card">
        <div class="title">
          <h1 id="dear">Dear {{ name }},</h1>
        </div>
        <div class="heart-box">
          <object
            data="../assets/pic3.svg"
            width="60"
            height="60"
            style="color: azure"
          ></object>
        </div>
        <div class="text">
          <section>
            <p>{{ randomItem }}</p>
          </section>
        </div>
      </div>
    </ng-container>

    <!-- message -->
  </div>
</div>
